<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="ini">
        <div class="formInicio">
            <h1>Iniciar Sesión</h1>
            <form action="/gestion" method="GET" class="inicio">
                <br><input type="password" id="clave" name="clave" placeholder="Ingrese la clave de acceso:" required>
                <br><button class="estadoBtn" type="submit">Acceder</button>
            </form>
        </div>
    </div>
</body>
</html>